/* Global variables */
:root {
  --accent-color: #ca228c;
  --background-color: #1d1e20;
}

/* Silkscreen font (for logo)*/
@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

/* Loader animation */
@import "loader.css";

/* CSS reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

body {
  background: var(--background-color);
  color: #dadadb;
  /* max-width: 800px; */
  /* margin: 0 auto; */
}

@media screen and (max-width: 800px) {
  body {
    max-width: 100%;
    padding: 0 20px;
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  height: 50px;
  padding: 30px;
  box-shadow: 0 -6px 10px 5px white;
}

nav {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  padding: 20px 0;
  & a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 20px;
    /* border-radius: 5px; */
    transition: all 0.5s ease-in-out;
    &:hover {
      background-color: var(--accent-color);
    }
    &.active {
      background-color: var(--accent-color);
    }
  }
}

.header-section {
  margin: 30px 0;
  text-align: center;
}

.header-section h1 {
  font-family: "Silkscreen", sans-serif;
  cursor: default;
  transition: color 0.2s ease-in-out;
  font-size: 2.7rem;
  font-weight: 700;
}

.header-section p {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 10px;
}

.form-section {
  margin: 30px 0;
}

input[type="text"],
button {
  width: 100%;
  border-radius: 5px;
  border: none;
}

.form-control {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 1rem;
  outline: none;
  background-color: #343536;
  color: #dadadb;
  transition: all 0.5s ease-in-out;
}

.form-control:focus {
  border-left: 5px solid var(--accent-color);
  border-top: 5px solid var(--accent-color);
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
}

.btn {
  background: #000000;
  color: #dadadb;
  padding: 20px 0;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  border-left: 5px solid var(--accent-color);
  border-top: 5px solid var(--accent-color);
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
  border-top-right-radius: 0%;
}

.hr-line {
  margin: 70px 0 20px;
  border: 1px solid #343536;
}

.chat-container {
  /* overflow: scroll; */
  max-height: 500px;
}

.chat-container .chat {
  min-height: 500px;
  background-color: #343536;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.chat-bubble {
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
  min-width: 11%;
  max-width: 80%;
}

.chat-bubble.user {
  background-color: var(--accent-color);
  align-self: flex-end;
}

.chat-bubble.bot {
  background-color: darkred;
}

.copy-icon:hover {
  background-color: var(--accent-color);
}

.header-section h1:hover {
  color: var(--accent-color);
}
